.editor-container {
    width: 100%;
    height: calc(100vh - 109px);
    font-family: "JetBrains Mono", sans-serif;
    /*line-height: 1.8em;*/
}

.gutter-horizontal {
    height: 100vh;
    background: var(--border);
    cursor: e-resize;
}

.gutter-horizontal:hover {
    background: var(--primary-color);
}

.ace_content, .ace_gutter {
    width: 100%;
    background: var(--editor-primary) !important;
}

.ace_content {
    max-width: none !important;
    z-index: 111;
}

.ace_folding-enabled > .ace_gutter-cell {
    color: var(--editor-gutter-text-default) !important;
}

.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background: var(--primary-color) !important;
}

.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line:hover {
    background: var(--primary-color) !important;
}

.ace_tooltip, .ace_doc-tooltip {
    background: var(--editor-primary) !important;
    font-family: "JetBrains Mono", sans-serif;
    color: var(--text-default);
    font-size: var(--editor-tooltip-font-default);
}

.Ace-Tern-tooltip {
    background: var(--editor-primary) !important;
    font-family: "JetBrains Mono", sans-serif;
    color: var(--text-default);
    font-size: var(--editor-tooltip-suggest-font-default);
}
