@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?ttaczi');
  src:  url('../icons/icomoon.eot?ttaczi#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?ttaczi') format('truetype'),
    url('../icons/icomoon.woff?ttaczi') format('woff'),
    url('../icons/icomoon.svg?ttaczi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-new-file:before {
  content: "\e900";
  color: #c0c0c0;
}
.icon-add-new-foder:before {
  content: "\e901";
  color: #c0c0c0;
}
.icon-add-new-icon:before {
  content: "\e902";
  color: #fff;
}
.icon-close-icon:before {
  content: "\e903";
  color: #c0c0c0;
}
.icon-collapse-icon:before {
  content: "\e904";
  color: #c0c0c0;
}
.icon-color-folder-icon:before {
  content: "\e905";
  color: #e79b42;
}
.icon-correct-icon:before {
  content: "\e906";
  color: #fff;
}
.icon-delete-icon:before {
  content: "\e907";
  color: #c0c0c0;
}
.icon-down-arrow:before {
  content: "\e908";
  color: #ced0d6;
}
.icon-edit-icon:before {
  content: "\e909";
  color: #c0c0c0;
}
.icon-folder-icon:before {
  content: "\e90a";
  color: #ced0d6;
}
.icon-gray-folder-icon:before {
  content: "\e90b";
  color: #c0c0c0;
  font-size: 13px;
}
.icon-maximize-icon:before {
  content: "\e90c";
  color: #c0c0c0;
}
.icon-menu-icon:before {
  content: "\e90d";
  color: #c0c0c0;
}
.icon-minimize-icon:before {
  content: "\e90e";
  color: #c0c0c0;
}
.icon-read-only-icon:before {
  content: "\e90f";
  color: #c0c0c0;
}
.icon-right-arrow:before {
  content: "\e910";
  color: #c0c0c0;
}
.icon-settings-icon:before {
  content: "\e911";
  color: #ced0d6;
}
.icon-todo-icon:before {
  content: "\e912";
  color: #ced0d6;
}
.icon-unlock-icon:before {
  content: "\e913";
  color: #c0c0c0;
}
