@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter.zip');
    src: url('../fonts/JetBrainsMono-2.242.zip');
}

* {
    padding: 0;
    margin: 0;
}

/* Scrollbar Styled */
div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

div::-webkit-scrollbar-track {
    background: none;
}

div::-webkit-scrollbar-corner {
    background: none;
}

div::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-default);
    border-radius: 20px;
    border: 3px solid transparent;
}

.ace_scrollbar::-webkit-scrollbar {
    width: auto;
    height: auto;
}

.ace_scrollbar-inner::-webkit-scrollbar-track {
    background: none;
}

.ace_scrollbar-inner::-webkit-scrollbar-corner {
    background: none;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-default);
    border-radius: 0px !important;
    border: 3px solid transparent;
}

.ace_scrollbar {
    background: var(--editor-scrollbar-background) !important;
}

/* ------------------------------------
* Primary CSS
--------------------------------------- */
.main-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #28282a;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.container-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
    padding: 0px 5px;
    height: 30px;
    background: var(--primary-dark);
    border-top: 2px solid var(--border);
}

.container-body {
    display: flex;
    align-items: start;
    height: calc(100vh - 40px);
}

.side-bar {
    padding: 10px 8px;
    box-sizing: border-box;
    height: 100vh;
    background: var(--primary-dark);
    border-right: 2px solid var(--border);
}

.side-bar-head {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-body {
    box-sizing: border-box;
}

.side-bar-body-top {
    height: calc(100vh - 130px);
}

.side-bar-body-bottom {
    /*height: 100%;*/
}

.side-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}

.side-bar-item:last-child {
    margin-bottom: 0px;
}

.side-bar-item .side-bar-item-icon {
    font-size: 24px;
    font-weight: 500;
}

.side-bar-item-select {
    background: var(--primary-color);
    color: var(--icon-default-hover);
}

.side-bar-item:not(.side-bar-item-select):hover {
    background: var(--primary-dark-300);
}

/* ------------------------------------
 * Sidebar panels
 * ------------------------------------ */
.main-body-area {
    display: flex;
    width: 100%;
    height: calc(100% - -10px);
}

.side-bar-panels {
    width: 320px;
    height: 100%;
    overflow: hidden;
}

.side-bar-panel {
    width: 100%;
    height: 100%;
}

.side-bar-panel-head {
    display: flex;
    align-items: center;
    padding: 9px 10px;
    background: var(--primary-dark);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.side-bar-panel-title {
    color: var(--text-default);
    font-size: 12px;
}

.side-bar-panel-toggle-box {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.side-bar-panel-head-icon {
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    color: var(--icon-default);
}

.side-bar-panel-head-icon:hover::before {
    color: var(--icon-default-hover);
}

.side-bar-panel-body {
    box-sizing: border-box;
    padding: 10px 10px;
    background: var(--primary-dark);
    width: auto;
    height: calc(100% - 42px);
    /*padding: 10px 10px 15px 0px;*/
    overflow: auto;
    display: flex;
    align-items: flex-start;
}

/* ------------------------------------
 * Title Bar
 * ------------------------------------ */
.title-bar-and-editor-holder {
    width: 100%;
}

.title-bar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 4px 0px;
    background: var(--primary-dark-200);
    app-region: drag;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.title-bar-left {
    margin-right: auto;
    margin-left: 10px;
    app-region: no-drag;
}

.title-bar-menu .icon-menu-icon {
    font-size: 20px;
    cursor: pointer;
}

.title-bar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    app-region: no-drag;
}

.title-bar-toggle {
    padding: 3px 10px;
    cursor: pointer;
    font-size: 20px;
}

.title-bar-minimize-icon {
    font-size: 18px;
}

.title-bar-close-icon:hover {
    background: var(--danger);
}

.title-bar-toggle:hover .title-bar-toggle-icon::before {
    color: var(--icon-default-hover);
}
